---
layout: null
title: Oscar Macdonald's Portfolio
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
  {% include masterNavbar.html %}
	<div class="container">
		<div id="DunedinIoT" class="container-fluid section">
		  <h1>DunedinIoT Project</h1>
		  <p>The DunedinIoT Project (previously known as The Things Network Project) is the introduction of an open, free and community-owned IoT data network for Dunedin.</p>
		  <p>With a team of staff and students collaborating together, our goal is to deploy IoT devices linked to LoRa gateways kilometers away, managed by our own local servers</p>
		  <p>This will provide locals with the opportunity to collect data with a small, cheap sensor usinmg our free network. At the same time, both staff and students get to learn and apply our skills, the perfect win-win!</p>
			<p>For more information, <a href="https://otagopolytechnic.github.io/DunedinIoT/" target="_blank" type="button" class="btn btn-info btn-sm">click here</a> to visit our GitHub page</p>
		</div>
		<div id="Android" class="container-fluid section">
		  <h1>Android Mobile App Development</h1>
		  <p>Portable, handheld devices are becoming renowned for their use in education, as well as beneficial for quick notifications and control over the IoT. Plus the games are really fun!</p> 
		  <p>My focus is for powerful, simple and user-friendly apps with documented, Object-Oriented, SOLID design.</p>
		</div>
		<div id="Linux" class="container-fluid section">
		  <h1>Linux</h1>
		  <p>Linux is a very popular operating system for servers because of its compatability with the LAMP bundle, its advanced security and its networking capabilities.</p>
      <p>Otago Polytechnic has courses in Linux and Networking, and both of these papers were instrumental in securing my first internship at Iris Data Science in Dunedin.</p>
      <p>I was given the opportunity to exercise my problem-solving skills and to develop my knowlege of Linux even further while working at Iris Data Science with great success.</p>
		  <p></p>
		</div>
		<div id="Languages" class="container-fluid section">
		  <h1>Languages</h1>
		  <div class="row">
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/c-sharp-transparent.png"/></div>
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/cpp-transparent.png"/></div>
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/java-transparent.png"/></div>
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/js.png"/></div>
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/ruby-transparent.png"/></div>
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/python-transparent.png"/></div>
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/sql-transparent.png"/></div>
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/nodejs.png"/></div>
			<div class="col-lg-4 col-md-3 col-sm-2 col-xs-auto"><img class="img-responsive" src="images/mongodb.png"/></div>
		  </div>
		</div>
		<div id="Bachelor" class="container-fluid section">
		  <h1>Bachelor of Information Technology(BIT)</h1>
		  <p>At Otago Polytechnic, students enroled in the BIT develop high-level technical abilities and a strong theoretical understanding of IT concepts. </p>
		  <p>Combined with skills in professional communication and practical experience, graduate are ready to work effectively in the industry.</p>
      <h3>Course Results</h3>
      <div class="table-responsive">   
        <h4>2015</h4>
        <table class="table">
          <thead>            
            <tr>
              <th>Paper Title</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Professional Practice for Information Technology</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Introduction to Systems Analysis</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Programming 1</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>Programming 2</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>Web 1 - Technology and Development</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>Introduction to Networks</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>PC Maintenance</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>Maths for IT</td>
              <td>A+</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <h4>2016</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Paper Title</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Software Engineering</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Databases 2</td>
              <td>B+</td>
            </tr>
            <tr>
              <td>Programming 3</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Routing and Switching Essentials</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>Linux Operating Systems</td>
              <td>A-</td>
            </tr>
            <tr>
              <td>Embedded Systems</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Automation and Robotics</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Programming 4: Intermediate Architectures and Algorithms</td>
              <td>A+</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <h4>2017</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Paper Title</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Project 1</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>Project 2</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>Object Oriented Systems Development</td>
              <td>A-</td>
            </tr>
            <tr>
              <td>Algorithms and Data Structures</td>
              <td>A+</td>
            </tr>
            <tr>
              <td>Web 3 - Enterprise Development</td>
              <td>A</td>
            </tr>
            <tr>
              <td>Design and Development of Applications for Mobile Devices</td>
              <td>A-</td>
            </tr>
            <tr>
              <td>Next Generation Networked Hardware</td>
              <td>A-</td>
            </tr>
          </tbody>
        </table>
        </div>
		</div>
		<div id="AboutOscar" class="container-fluid section">
		  <h1>Who is Oscar?</h1>
		  <p>I enjoy the success of creating a solution to a problem. The entire process from learning and understanding the problem to implementing a solution is very satisfying.</p>
		  <p>I really enjoy nature (even if I don't get the time to experience it myself!) I take care to improve the local environment in any way I can, whether it's recycling and composting or just finding out more about sustainability.</p>
		  <p>My dream is to combine my passion for IT with my love of sustainability and self-reliance.</p>
      <p>My partner and I have plans to build a house, even though we have no house building skills! To start, we will build small things and work our way up, enjoying the process as we go.</p>
      <a href="downloads/Curriculum_Vitae_28_10_17.docx" type="button" class="btn btn-primary">Download Curriculum Vitae (.docx)</a>      
		</div>
	    <div id="PersonalPortfolio" class="container-fluid section">
      <h1>Oscar Macdonald – IoT Dunedin Project Portfolio</h1>
			<p>The IoT Dunedin project (nee The Things Network) is an Internet of Things network using LoRa specifications to create IT solutions for people in Dunedin. LoRa stands for ‘Low Power, Long Range’ in some cases, or ‘Low Power, Wide Area Network’ (LoRaWAN)</p>
			<p>I first learned about The Things Network from the Otago Daily Times <a href="https://www.odt.co.nz/news/dunedin/new-network-smart-resource" target="_blank">article</a>. At the beginning of the year I chose to join The Things Network because I had taken the ‘Embedded Systems’ and ‘Automation and Robotics’ classes previously, so I believed I had the knowledge required to contribute to the project. And because the project was about device communication I thought the skills learnt in Networking would also come in handy. I had also read the project posters from the previous semester and The Things Network poster appealed as the most exciting and diverse project to me.</p>
      <p>I believed that the project was well established and documented; my first task would be to catch up on the documentation and understand how the project worked. After talking with Dan Williamson, a member of The Things Network from 2016, it turned out that the documentation didn’t exist and that all previous work from the past year and a half was scrapped due to the changing LoRa specifications. So when the new group met for the first time it was decided that we would start from scratch.</p>
      <a href="technicalProficiency" type="button" class="btn btn-primary">Technical Proficiency</a>
      <a href="professionalProficiency" type="button" class="btn btn-primary">Professional Proficiency</a>
      <a href="semester1Tasks" type="button" class="btn btn-primary">Semester 1 Tasks</a>
      <a href="semester2Tasks" type="button" class="btn btn-primary">Semester 2 Tasks</a>
      <a href="personalTimeline" type="button" class="btn btn-primary">Personal Timeline</a>
      <a href="reflectiveStory" type="button" class="btn btn-primary">Reflective Story</a>
      <a href="downloads/Curriculum_Vitae_28_10_17.docx" type="button" class="btn btn-primary">Download Curriculum Vitae (.docx)</a>
		</div>
  </div>
  {% include footer.html %}
  </body>
</html>
