--- layout: null title: Oscar Macdonald's Portfolio ---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    {% include masterNavbar.html %}
    <div class="container">
        <div id="DatabaseAdministration" class="container-fluid section">
            <h1>Database Administration</h1>
            <p>In 2018 I was employed as a Database Administrator (DBA), monitoring Microsoft SQL Servers deployed in New Zealand and Australia.
                My job is to work with a team of DBAs and learn how to use tools to monitor, diagnose and repair SQL Server instances.
            </p>
        </div>
        <div id="Linux" class="container-fluid section">
            <h1>Linux</h1>
            <p>Linux is a very popular operating system for servers because of its compatability with the LAMP bundle, its advanced security
                and its networking capabilities.</p>
            <p>Otago Polytechnic has courses in Linux and Networking, and both of these papers were instrumental in securing my first internship
                at Iris Data Science in Dunedin.</p>
            <p>I was given the opportunity to exercise my problem-solving skills and to develop my knowlege of Linux even further while
                working at Iris Data Science with great success.</p>
                <p>In my current DBA role I am very excited to work with Microsoft SQL Server 2017, which is now available on Linux and Docker 
                    as well as Windows. Since 1989 SQL Server has been available for Windows operating systems which has limited the deployment
                    options for developers and database administrators. Combining my knowledge of Linux and SQL Server is a great way to improve
                    as a DBA and to introduce new technologies to my team.
                </p>
            <p></p>
        </div>
        <div id="AboutOscar" class="container-fluid section">
            <h1>Who is Oscar?</h1>
            <p>I enjoy the success of creating a solution to a problem. The entire process from learning and understanding the
                problem to implementing a solution is very satisfying.</p>
            <p>I really enjoy nature (even if I don't get the time to experience it myself!) I take care to improve the local
                environment in any way I can, whether it's recycling and composting or just finding out more about sustainability.</p>
            <p>My dream is to combine my passion for IT with my love of sustainability and self-reliance.</p>
            <p>My partner and I have plans to build a house, even though we have no house building skills! To start, we will
                build small things and work our way up, enjoying the process as we go.</p>
            <a href="downloads/Curriculum_Vitae_28_10_17.docx" type="button" class="btn btn-primary">Download Curriculum Vitae (.docx)</a>
        </div>
        <div id="PersonalPortfolio" class="container-fluid section">
            <a href="downloads/Curriculum_Vitae_28_10_17.docx" type="button" class="btn btn-primary">Download Curriculum Vitae (.docx)</a>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>